*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'helvetica neue', helvetica, arial, sans-serif;
  color:#fff;
}
html,
body 
{
  height: 100%;
  width: 100%;
}
body{
  background-color: #111;
}
.parent{
  padding:10px;
  display:flex;
   align-items: center; 
   flex-wrap:wrap;
/* justify-self: center; */
  gap:10px;
 
}
.Card {
  width: 200px;
  border: 1px solid #d70e0e;
  padding: 10px;
  text-align: center;
  border-radius:10px;
  background-color: pink;
  margin-left: 20px;
  margin-top: 20px;
  flex-wrap:wrap;
  display:flex;
  flex-direction: row;
  
}
.Card p{
  font-size: 16px;
  color: #333;
  margin:15px 0;
}

.Card button{
  padding:10px 15px;
  border:none;
  background-color: #d70e0e;
  color: white;
  border-radius:5px;
  cursor:pointer;
}
.cards-container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  width: 100%;
}
img{
  width: 100%;
  height:120px;
}

